<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<title>GeoCash</title>

	<!-- include Leaflet CSS and JavaScript files -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
	 <!--[if lte IE 8]>
	     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
	 <![endif]-->
	<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
</head>
<body>

<div class="container" id="content-container">
	<div class="row span2 offset10">
		<a href="https://geocash.herokuapp.com/logout/"><div class="btn btn-primary">Log out</div></a>
	</div>

	<!--<form action="/add_pending_payment" method="post">-->	
	<div class="row">
		<label for="pay_amt" class="span1 offset5">Amount $</label>
		<div class="span1">
			<input type="number" step=".01" name="amount" id="pay_amt" class="input-block-level" placeholder="0.00">
		</div>
	</div>

	<!-- Insert here text that tells the user what information will be sent automatically (ie: where the money will be left, the amount of money.  Maybe make it possible to opt out of either piece of information.  -->


	<div class="row">
		<div class="span12">
			<input type="text" name="note" id="message" class="input-block-level" placeholder="I'm leaving you a gift!">
		</div>
	</div>
	<div class="row">
		<div class="span2 offset6">
			<input type="submit" name="submit" value="Send Gift" id="button">
		</div>
	</div>

	<script type="text/javascript">
	$(document).ready(function(){
		alert("READY!");
		$("#button").click(function(){
			$.post("/add_pending_payment/",function(note,amount){
    		alert("Note: " + $("#message").val() + "\nAmount: " + $("#pay_amt").val());
  			});
  			window.location = "http://geocash.herokuapp.com/add_pending_payment/";
		});
	});
	</script>
	<!--</form>-->
	
	<div class="row" id="spacer100">
	</div>
	<div class="row">
		<div class="span12" id="powered-by">
		<span>Powered by &nbsp;</span>
			<a href="http://www.foursquare.com"><img src="../static/images/foursquare-logo.png" id="foursquare-logo" /></a>
			<span>&nbsp; &nbsp;</span>
			<a href="http://www.venmo.com"><img src="../static/images/venmo_logo_blue.png" id="venmo-logo" /></a>
			<span>&nbsp; &nbsp;</span>
			<a href="http://www.sendgrid.com"><img src="../static/images/sendgrid-logo.png" id="sendgrid-logo" /></a>
			<span>&nbsp; &nbsp;</span>
			<a href="http://www.mongodb.org"><img src="../static/images/mongodb-logo.png" id="mongodb-logo" /></a>
		</div>
	</div>
</div> <!-- /container -->

</body>

</html>
