<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<title>GeoCash</title>

	<!-- include Leaflet CSS and JavaScript files -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
	 <!--[if lte IE 8]>
	     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
	 <![endif]-->
	<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
</head>
<body>
<div class="row" id="topnavbar">
	<div id="logo">
		<a href="{{base_url}}"><img src="../static/images/logo.png" /></a>
	</div>
	<div id="logout">
		<a href="{{base_url}}/logout/"><div class="btn btn-primary">Log out</div></a>
	</div>
</div>
<div class="container" id="content-container">
	<div class="row" id="spacer40">
	</div>

	<div class="row">
		<label for="pay_amt" class="span1 offset5" style="margin-top: 7px">Amount: $</label>
		<div class="span1">
			<input type="number" step=".01" value="5.00" min=".01" name="pay_amt" id="pay_amt" class="input-block-level">
		</div>
	</div>
	<div class="row">
		&nbsp;
	</div>
	<div class="row" style="text-align:center">
		<label for="comments" class="span12" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">Add a note to your gift!  We'll let your friend know how to claim it.</label>
	</div>
	<div class="row">
		&nbsp;
	</div>
	<div class="row" style="text-align:center">
		<div class="span12">
		<textarea name="comments" id="comments" maxlength="2000" style="color:black; width: 400px; height: 60px;" placeholder=""></textarea><br />
		</div>
	</div>
	<div class="row">
		<div class="span12" style="text-align:center">
			<div class="btn btn-primary" id="button" style="font-size: 20px;">Send gift</div>
		</div>
	</div>

	<div class="row">
		&nbsp;
	</div>


	<script type="text/javascript">
	$(document).ready(function(){
		//alert("READY!");
		$("#button").click(function(){
			var message = $("#comments").val();
			//alert(message);
			var amount = $("#pay_amt").val();
			var new_url = "{{base_url}}/add_pending_payment?note=" + message + "&amount=" + amount;
			//alert(new_url);
			window.location = new_url;
		});
	});
	</script>


	<div class="row" style="text-align:center">
		<label for="comments" class="span12">Your Venmo account will get charged when your friend checks in at the venue you chose.<br>Don't worry - if your friend never checks in there, you don't have to pay!</label>
	</div>
	
	<div class="row" id="spacer100">
	</div>
	<div class="row">
		<div class="span12" id="powered-by">
		<span>Powered by &nbsp;</span>
			<a href="http://www.foursquare.com"><img src="../static/images/foursquare-logo.png" id="foursquare-logo" /></a>
			<span>&nbsp; &nbsp;</span>
			<a href="http://www.venmo.com"><img src="../static/images/venmo_logo_blue.png" id="venmo-logo" /></a>
			<span>&nbsp; &nbsp;</span>
			<a href="http://www.sendgrid.com"><img src="../static/images/sendgrid-logo.png" id="sendgrid-logo" /></a>
			<span>&nbsp; &nbsp;</span>
			<a href="http://www.mongodb.org"><img src="../static/images/mongodb-powered-button.png" id="mongodb-logo" /></a>
		</div>
	</div>
	<div class="row" id="spacer40">
	</div>

	<div class="row" style="text-align:center;">
	<div class="span12" style="text-align:center;">
	<style>
		div.addthis_toolbox{
			width: 250px;
			margin: 0 auto;
		}
	</style>
		
		<script src="http://s7.addthis.com/js/300/addthis_widget.js" type="text/javascript"></script> 

		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
		<a class="addthis_button_facebook"></a>
		<a class="addthis_button_email"></a>
		<a class="addthis_button_twitter"></a>
		<a class="addthis_button_pinterest_share"></a>
		<a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
		</div>
		<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-522c49f96fcb6d57"></script>
		<!-- AddThis Button END -->
	</div>
	</div>

	<div id="spacer40"></div>
</div> <!-- /container -->

</body>

</html>
