<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<title>GeoCash</title>

</head>
<body>
<!-- content container -->

<div class="container" id="content-container">
	<div class="row">
		<!--<div class="span6 hidden-phone" id="screenshot">
			[insert screenshot]
		</div>-->
		<div class="span6 offset3" id="homepage-logo">
			<img src="../static/images/logo.png" style="padding: 10px;"/>
			<h1>Share money with friends at your favorite places.</h1>
			<br>
			<h3 style="line-height:30px;">It's easy - sign in with your Foursquare account to begin.</h3>
			<br>
			<a href={{foursquare_auth_url}}>
				<div class="btn btn-large btn-primary" id="btn-signin">Sign in with Foursquare</div>
			</a>
			<p style="padding-top: 10px;">*We never post without your permission - <a href="faq.html" target="_blank">learn more about how GeoCash works</a>.</p>.

		</div>
	</div>

	<div class="row" id="spacer40">
	</div>
	<div class="row">
		<div class="span12" id="powered-by">
		<span>Powered by &nbsp;</span>
			<a href="http://www.foursquare.com"><img src="../static/images/foursquare-logo.png" id="foursquare-logo" /></a>
			<span>&nbsp; &nbsp;</span>
			<a href="http://www.venmo.com"><img src="../static/images/venmo_logo_blue.png" id="venmo-logo" /></a>
			<span>&nbsp; &nbsp;</span>
			<a href="http://www.sendgrid.com"><img src="../static/images/sendgrid-logo.png" id="sendgrid-logo" /></a>
			<span>&nbsp; &nbsp;</span>
			<a href="http://www.mongodb.org"><img src="../static/images/mongodb-powered-button.png" id="mongodb-logo" /></a>
		</div>
	</div>
	<div class="row" id="spacer40">
	</div>

	<div class="row" style="text-align:center;">
	<div class="span12" style="text-align:center;">
	<style>
		div.addthis_toolbox{
			width: 250px;
			margin: 0 auto;
		}
	</style>
		
		<script src="http://s7.addthis.com/js/300/addthis_widget.js" type="text/javascript"></script> 

		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
		<a class="addthis_button_facebook"></a>
		<a class="addthis_button_email"></a>
		<a class="addthis_button_twitter"></a>
		<a class="addthis_button_pinterest_share"></a>
		<a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
		</div>
		<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-522c49f96fcb6d57"></script>
		<!-- AddThis Button END -->
	</div>
	</div>

	<div id="spacer40"></div>
	
</div> <!-- /container -->

</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</html>
