<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	
	<title>GeoCash</title>

	<!-- include Leaflet CSS and JavaScript files -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
	 <!--[if lte IE 8]>
	     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
	 <![endif]-->
	<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
</head>
<body>
<div class="row" id="topnavbar">
	<div id="logo">
		<a href="http://geocash.herokuapp.com/"><img src="../static/images/logo.png" /></a>
	</div>
	<div id="logout">
		<a href="http://geocash.herokuapp.com/"><div class="btn btn-primary">Log out</div></a>
	</div>
</div>
<div class="container" id="content-container">

	<!-- area for user input -->
	<div class="row" style="text-align: center;">
	<div class="alert alert-info" style="display: {{showOrNot}}"><a class="close" data-dismiss="alert">x</a>
	<script text="type/javascript">
	$(document).ready(function(){
		//alert("ready!");
		$(".alert").click(function(){
			$(".alert").css("display","none");
		});
	});
	</script>
	<strong>Woohoo!</strong>&nbsp;You successfully left a GeoCash gift.
	</div>
		<!--<div class="span5">
			<input type="text" name="friend_name" id="friend_name" class="input-block-level" placeholder="Your friend's name">
		</div>
		<div class="span2">
			<button class="btn btn-primary" type="submit" id="finditbutton">Find 'em!</button>
		</div>-->
		<h3>Find your friend below to send them a gift.</h3>
	</div>
	
	<!-- search results -->
	<div class="row">
		<div class="span6 offset3" >
			<div class="error-holder">
			</div>
			<div class="data-holder">
			</div>

				{% for friend in friends %}
					<a href="http://geocash.herokuapp.com/add_friend?friend_email={{friend.contact.email}}&friend_name={{friend.firstName}}&friend_4sq_id={{friend.id}}">
						<div class="btn btn-select-venue">{{friend.firstName}} {{friend.lastName}}</div><br>
					</a>
				{% endfor %}
		</div>

	</div>
	
	<div class="row" id="spacer100">
	</div>
	<div class="row">
		<div class="span12" id="powered-by">
		<span>Powered by &nbsp;</span>
			<a href="http://www.foursquare.com"><img src="../static/images/foursquare-logo.png" id="foursquare-logo" /></a>
			<span>&nbsp; &nbsp;</span>
			<a href="http://www.venmo.com"><img src="../static/images/venmo_logo_blue.png" id="venmo-logo" /></a>
			<span>&nbsp; &nbsp;</span>
			<a href="http://www.sendgrid.com"><img src="../static/images/sendgrid-logo.png" id="sendgrid-logo" /></a>
			<span>&nbsp; &nbsp;</span>
			<a href="http://www.mongodb.org"><img src="../static/images/mongodb-powered-button.png" id="mongodb-logo" /></a>
		</div>
	</div>
</div> <!-- /container -->
<script src="twitter-bootstrap-v2/docs/assets/js/jquery.js"></script>
<script src="twitter-bootstrap-v2/docs/assets/js/bootstrap-alert.js"></script>
</body>

</html>
