<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<title>GeoCash</title>

	<!-- include Leaflet CSS and JavaScript files -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
	 <!--[if lte IE 8]>
	     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
	 <![endif]-->
	<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
</head>
<body>
<div class="row" id="topnavbar">
	<div id="logo">
		<a href="http://geocash.herokuapp.com/"><img src="../static/images/logo.png" /></a>
	</div>
	<div id="logout">
		<a href="http://geocash.herokuapp.com/logout/"><div class="btn btn-primary">Log out</div></a>
	</div>
</div>
<div class="container" id="content-container">

	<!-- area for user input -->
	<div class="row">
		<div class="span6">
			<input type="text" name="venue_name" id="venue_name" class="input-block-level" placeholder="Venue name (Starbucks; Philly cheesesteaks...)">
		</div>
		<div class="span3">
			<input type="text" name="geocode" id="geocode" class="input-block-level" placeholder="City or area (New York; Chicago, IL...)">
		</div>
		<div class="span2">
			<button class="btn btn-primary" type="submit" id="finditbutton">Find it!</button>
		</div>
	</div>
	
	<!-- search results -->
	<div class="row">
		<div class="span6">
			<div class="error-holder">
			</div>
			<div class="data-holder">
				<span style="color: #ccc">Search for something!</span>
			</div>
		<!-- custom javascript to dynamically populate search results -->
		<script type="text/javascript">
		//On document ready, wait for button click
		$(document).ready(function(){
			//allow user to hit enter from either text box
			$("#geocode").keyup(function(event){
				if(event.keyCode == 13) {
					$("#finditbutton").click();
				}
			});
			$("#venue_name").keyup(function(event){
				if(event.keyCode == 13) {
					$("#finditbutton").click();
				}
			});
			
		//when submit button is clicked (or enter hit), begin error checking and searching
		$("#finditbutton").click(function(){
		
			//error checking first - must have venue name and geocode
			var error = "";
			if($("#venue_name").val() == "")
				error += "Please give part of a venue name so we can search for you.<br>";
			if($("#geocode").val() == "")
				error += "Please give an area within which to search (e.g. New York or 90210 or Chicago, IL).";
			//set error to hold either "" or new error(s)
			$(".error-holder").html(error);
			
			var dataHTML = "";
			$(".data-holder").html(dataHTML);

			//if no errors, run the search and populate results
			if(error == "") {
				var name_url = "&query=" + $("#venue_name").val();
				var location_url = "&near=" + $("#geocode").val();
				/* really should be using client id/secret, but just using AUTH TOKEN for now */
				var ajax_base_url = "https://api.foursquare.com/v2/venues/search?oauth_token=FOHYFALGXXFJYRX214AU2OEAJIT43MZTFVUHYZDE0GRHBSSS&v=20130907&limit=10";
				var ajax_url = ajax_base_url + name_url + location_url;
				
				$.ajax({
						url: ajax_url,
						beforeSend: function ( xhr ) {
							xhr.overrideMimeType("text/plain; charset=x-user-defined");
						}
					}).done(function ( data ) {
						//DEBUGGING INFO - uncomment to show
						/*if( console && console.log ) {
							console.log("Sample of data:", data.slice(0, 100));
						}*/
						//alert(data);
					  
						//parse JSON data
						var obj = jQuery.parseJSON(data);
						//console.log(obj);	
						
						//if no results, display error message
						if( !obj.response.venues[0] ) {
							$(".data-holder").html("Sorry, we couldn't find anything! Try searching in a broader area or with a different name.");
						}
						//if result(s), iterate through and display
						else {
							//$(".data-holder").html(data);
							//alert(obj.response.venues[0].name);
							var dataHTML = "";

							//create parray that will hold lat/lng pairs
							var LatLngArray = new Array();
							var current_url = document.URL;
							var next_page_base_url = current_url.replace("pick-venue", "create-payment");
							
							for(var i=0; i<obj.response.venues.length; i++){
								//get the ith venue from the JSON response
								var venue = obj.response.venues[i];
								
								//build the search results
								dataHTML += "<a href=http://geocash.herokuapp.com/add_venue?venue_id=" + venue.id + "><div class=\"btn btn-select-venue\">" + venue.name;
								//some venues don't have address or cross street, so avoid "undefined"
								if(venue.location.address) {
									dataHTML += " - " + venue.location.address;
								}
								if(venue.location.crossStreet) {
									dataHTML += " " + venue.location.crossStreet;
								}
								dataHTML += "</div></a><br><br>";

								//build point on map
								var lat = venue.location.lat;
								var lng = venue.location.lng;
								var latlng = new L.LatLng(lat, lng);
								var arrayLength = LatLngArray.push(latlng);	
								var locationAddress = "";
								if(venue.location.address){
									locationAddress = venue.location.address;
								}	
								L.marker([lat, lng]).addTo(map).bindPopup("<b>" + venue.name + "</b><br/>" + locationAddress);

								
							}
							//set all data in search results
							$(".data-holder").html(dataHTML);
							
							//console.log(LatLngArray);
							map.fitBounds(LatLngArray);
							//map.setView([10, -0.53], 13);
							
							//alert(document.URL);
						}
				}); //end ajax
			} // end of search & population (no errors to start)
		}); //end of click function
		}); //end of document ready
		</script>
		</div>

	<!--The Map!-->
	<style>
		#map { 
			height: 300px; 
		}
	</style>
		<div class="span6">
			<div id="map"></div>
			<!--<script src="../dist/leaflet.js"></script>-->
	<script>

		var map = L.map('map').setView([40.77, -73.9597], 11);

		L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
		}).addTo(map);


		L.marker([51.5, -0.09]).addTo(map)
			.bindPopup("<b>Hello world!</b><br />I am a popup.");

		var popup = L.popup();

		/*function onMapClick(e) {
			popup
				.setLatLng(e.latlng)
				.setContent("You clicked the map at " + e.latlng.toString())
				.openOn(map);
		}

		map.on('click', onMapClick);*/

	</script>

		</div>
	</div>
	
	<div class="row" id="spacer100">
	</div>
	<div class="row">
		<div class="span12" id="powered-by">
		<span>Powered by &nbsp;</span>
			<a href="http://www.foursquare.com"><img src="../static/images/foursquare-logo.png" id="foursquare-logo" /></a>
			<span>&nbsp; &nbsp;</span>
			<a href="http://www.venmo.com"><img src="../static/images/venmo_logo_blue.png" id="venmo-logo" /></a>
			<span>&nbsp; &nbsp;</span>
			<a href="http://www.sendgrid.com"><img src="../static/images/sendgrid-logo.png" id="sendgrid-logo" /></a>
			<span>&nbsp; &nbsp;</span>
			<a href="http://www.mongodb.org"><img src="../static/images/mongodb-powered-button.png" id="mongodb-logo" /></a>
		</div>
	</div>
</div> <!-- /container -->

</body>

</html>
