<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<title>GeoCash</title>
</head>
<body>
<!-- content container -->

<div class="container" id="content-container">
	<div class="row span2 offset10">
		<a href="http://geocash.herokuapp.com/logout/"><div class="btn btn-primary">Log out</div></a>
	</div>
	<div class="row">
		<div class="span6 hidden-phone" id="screenshot">
			[insert screenshot]
		</div>
		<div class="span6" id="homepage-logo">
			<img src="../static/images/logo.png" style="padding: 10px;"/>
			<h1>Great! You can now receive money.</h1><br>
			<h3>Once you check in, we'll let you know how to redeem your gift with Venmo.</h3><br>
			
			<br>
			<br>
			<p>Want to be able to send gifts to people? Connect your Venmo account and get started!</p>
			<a href={{venmo_auth_url}}>
				<div class="btn btn-large" id="btn-signin-venmo">Sign in with Venmo</div>
			</a>
			<p>*We never post without your permission.</p>
		</div>
	</div>

	<div class="row" id="spacer100">
	</div>
	<div class="row">
		<div class="span12" id="powered-by">
		<span>Powered by &nbsp;</span>
			<a href="http://www.foursquare.com"><img src="../static/images/foursquare-logo.png" id="foursquare-logo" /></a>
			<span>&nbsp; &nbsp;</span>
			<a href="http://www.venmo.com"><img src="../static/images/venmo_logo_blue.png" id="venmo-logo" /></a>
			<span>&nbsp; &nbsp;</span>
			<a href="http://www.sendgrid.com"><img src="../static/images/sendgrid-logo.png" id="sendgrid-logo" /></a>
			<span>&nbsp; &nbsp;</span>
			<a href="http://www.mongodb.org"><img src="../static/images/mongodb-logo.png" id="mongodb-logo" /></a>
		</div>
	</div>
</div> <!-- /container -->

</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</html>